api_keys.py
prepared data.pkl
processed data.pkl
response.pkl
20210116 coin data/AAVE - 90 day data.pkl
20210116 coin data/ALGO - 90 day data.pkl
20210116 coin data/ATOM - 90 day data.pkl
20210116 coin data/BAL - 90 day data.pkl
20210116 coin data/BAND - 90 day data.pkl
20210116 coin data/BCH - 90 day data.pkl
20210116 coin data/BTC - 90 day data.pkl
20210116 coin data/coinbase products.pkl
20210116 coin data/coinbase products.xlsx
20210116 coin data/coingecko coin markets.pkl
20210116 coin data/coingecko coin markets.xlsx
20210116 coin data/coingecko products.xlsx
20210116 coin data/COMP - 90 day data.pkl
20210116 coin data/DAI - 90 day data.pkl
20210116 coin data/DASH - 90 day data.pkl
20210116 coin data/EOS - 90 day data.pkl
20210116 coin data/ETC - 90 day data.pkl
20210116 coin data/ETH - 90 day data.pkl
20210116 coin data/FIL - 90 day data.pkl
20210116 coin data/GRT - 90 day data.pkl
20210116 coin data/KNC - 90 day data.pkl
20210116 coin data/LINK - 90 day data.pkl
20210116 coin data/LRC - 90 day data.pkl
20210116 coin data/LTC - 90 day data.pkl
20210116 coin data/matched products.xlsx
20210116 coin data/MKR - 90 day data.pkl
20210116 coin data/OMG - 90 day data.pkl
20210116 coin data/REN - 90 day data.pkl
20210116 coin data/SNX - 90 day data.pkl
20210116 coin data/supported coins.pkl
20210116 coin data/UMA - 90 day data.pkl
20210116 coin data/UNI - 90 day data.pkl
20210116 coin data/WBTC - 90 day data.pkl
20210116 coin data/XLM - 90 day data.pkl
20210116 coin data/XRP - 90 day data.pkl
20210116 coin data/XTZ - 90 day data.pkl
20210116 coin data/YFI - 90 day data.pkl
20210116 coin data/ZEC - 90 day data.pkl
20210116 coin data/ZRX - 90 day data.pkl
20210116 pics/AAVE - 90 day plot.png
20210116 pics/ALGO - 90 day plot.png
20210116 pics/ATOM - 90 day plot.png
20210116 pics/BAL - 90 day plot.png
20210116 pics/BAND - 90 day plot.png
20210116 pics/BCH - 90 day plot.png
20210116 pics/BTC - 90 day plot.png
20210116 pics/COMP - 90 day plot.png
20210116 pics/DAI - 90 day plot.png
20210116 pics/DASH - 90 day plot.png
20210116 pics/EOS - 90 day plot.png
20210116 pics/ETC - 90 day plot.png
20210116 pics/ETH - 90 day plot.png
20210116 pics/FIL - 90 day plot.png
20210116 pics/GRT - 90 day plot.png
20210116 pics/KNC - 90 day plot.png
20210116 pics/LINK - 90 day plot.png
20210116 pics/LRC - 90 day plot.png
20210116 pics/LTC - 90 day plot.png
20210116 pics/MKR - 90 day plot.png
20210116 pics/OMG - 90 day plot.png
20210116 pics/REN - 90 day plot.png
20210116 pics/SNX - 90 day plot.png
20210116 pics/UMA - 90 day plot.png
20210116 pics/UNI - 90 day plot.png
20210116 pics/WBTC - 90 day plot.png
20210116 pics/XLM - 90 day plot.png
20210116 pics/XRP - 90 day plot.png
20210116 pics/XTZ - 90 day plot.png
20210116 pics/YFI - 90 day plot.png
20210116 pics/ZEC - 90 day plot.png
20210116 pics/ZRX - 90 day plot.png
20210120 coin data/AAVE - 90 day data.pkl
20210120 coin data/ALGO - 90 day data.pkl
20210120 coin data/ATOM - 90 day data.pkl
20210120 coin data/BAL - 90 day data.pkl
20210120 coin data/BCH - 90 day data.pkl
20210120 coin data/BTC - 90 day data.pkl
20210120 coin data/coinbase products.pkl
20210120 coin data/coingecko coin markets.pkl
20210120 coin data/COMP - 90 day data.pkl
20210120 coin data/DAI - 90 day data.pkl
20210120 coin data/DASH - 90 day data.pkl
20210120 coin data/EOS - 90 day data.pkl
20210120 coin data/ETC - 90 day data.pkl
20210120 coin data/ETH - 90 day data.pkl
20210120 coin data/FIL - 90 day data.pkl
20210120 coin data/GRT - 90 day data.pkl
20210120 coin data/KNC - 90 day data.pkl
20210120 coin data/LINK - 90 day data.pkl
20210120 coin data/LRC - 90 day data.pkl
20210120 coin data/LTC - 90 day data.pkl
20210120 coin data/MKR - 90 day data.pkl
20210120 coin data/OMG - 90 day data.pkl
20210120 coin data/REN - 90 day data.pkl
20210120 coin data/SNX - 90 day data.pkl
20210120 coin data/supported coins.pkl
20210120 coin data/UMA - 90 day data.pkl
20210120 coin data/UNI - 90 day data.pkl
20210120 coin data/WBTC - 90 day data.pkl
20210120 coin data/XLM - 90 day data.pkl
20210120 coin data/XRP - 90 day data.pkl
20210120 coin data/XTZ - 90 day data.pkl
20210120 coin data/YFI - 90 day data.pkl
20210120 coin data/ZEC - 90 day data.pkl
20210120 coin data/ZRX - 90 day data.pkl
20210305 coin data/AAVE - 90 day data.pkl
20210305 coin data/ALGO - 90 day data.pkl
20210305 coin data/ATOM - 90 day data.pkl
20210305 coin data/BCH - 90 day data.pkl
20210305 coin data/BNT - 90 day data.pkl
20210305 coin data/BTC - 90 day data.pkl
20210305 coin data/coinbase products.pkl
20210305 coin data/coingecko coin markets.pkl
20210305 coin data/COMP - 90 day data.pkl
20210305 coin data/DAI - 90 day data.pkl
20210305 coin data/DASH - 90 day data.pkl
20210305 coin data/EOS - 90 day data.pkl
20210305 coin data/ETC - 90 day data.pkl
20210305 coin data/ETH - 90 day data.pkl
20210305 coin data/FIL - 90 day data.pkl
20210305 coin data/GRT - 90 day data.pkl
20210305 coin data/LINK - 90 day data.pkl
20210305 coin data/LRC - 90 day data.pkl
20210305 coin data/LTC - 90 day data.pkl
20210305 coin data/MKR - 90 day data.pkl
20210305 coin data/OMG - 90 day data.pkl
20210305 coin data/REN - 90 day data.pkl
20210305 coin data/SNX - 90 day data.pkl
20210305 coin data/supported coins.pkl
20210305 coin data/UMA - 90 day data.pkl
20210305 coin data/UNI - 90 day data.pkl
20210305 coin data/WBTC - 90 day data.pkl
20210305 coin data/XLM - 90 day data.pkl
20210305 coin data/XTZ - 90 day data.pkl
20210305 coin data/YFI - 90 day data.pkl
20210305 coin data/ZEC - 90 day data.pkl
20210305 coin data/ZRX - 90 day data.pkl
20210306 coin data/AAVE - 90 day data.pkl
20210306 coin data/ALGO - 90 day data.pkl
20210306 coin data/ATOM - 90 day data.pkl
20210306 coin data/BCH - 90 day data.pkl
20210306 coin data/BNT - 90 day data.pkl
20210306 coin data/BTC - 90 day data.pkl
20210306 coin data/coinbase products.pkl
20210306 coin data/coingecko coin markets.pkl
20210306 coin data/COMP - 90 day data.pkl
20210306 coin data/DAI - 90 day data.pkl
20210306 coin data/DASH - 90 day data.pkl
20210306 coin data/EOS - 90 day data.pkl
20210306 coin data/ETC - 90 day data.pkl
20210306 coin data/ETH - 90 day data.pkl
20210306 coin data/FIL - 90 day data.pkl
20210306 coin data/GRT - 90 day data.pkl
20210306 coin data/LINK - 90 day data.pkl
20210306 coin data/LRC - 90 day data.pkl
20210306 coin data/LTC - 90 day data.pkl
20210306 coin data/MKR - 90 day data.pkl
20210306 coin data/OMG - 90 day data.pkl
20210306 coin data/REN - 90 day data.pkl
20210306 coin data/SNX - 90 day data.pkl
20210306 coin data/supported coins.pkl
20210306 coin data/UMA - 90 day data.pkl
20210306 coin data/UNI - 90 day data.pkl
20210306 coin data/WBTC - 90 day data.pkl
20210306 coin data/XLM - 90 day data.pkl
20210306 coin data/XTZ - 90 day data.pkl
20210306 coin data/YFI - 90 day data.pkl
20210306 coin data/ZEC - 90 day data.pkl
20210306 coin data/ZRX - 90 day data.pkl
20210313 coin data/AAVE - 90 day data.pkl
20210313 coin data/ALGO - 90 day data.pkl
20210313 coin data/ATOM - 90 day data.pkl
20210313 coin data/BCH - 90 day data.pkl
20210313 coin data/BNT - 90 day data.pkl
20210313 coin data/BTC - 90 day data.pkl
20210313 coin data/coinbase products.pkl
20210313 coin data/coingecko coin markets.pkl
20210313 coin data/COMP - 90 day data.pkl
20210313 coin data/DAI - 90 day data.pkl
20210313 coin data/DASH - 90 day data.pkl
20210313 coin data/EOS - 90 day data.pkl
20210313 coin data/ETC - 90 day data.pkl
20210313 coin data/ETH - 90 day data.pkl
20210313 coin data/FIL - 90 day data.pkl
20210313 coin data/GRT - 90 day data.pkl
20210313 coin data/LINK - 90 day data.pkl
20210313 coin data/LRC - 90 day data.pkl
20210313 coin data/LTC - 90 day data.pkl
20210313 coin data/MATIC - 90 day data.pkl
20210313 coin data/MKR - 90 day data.pkl
20210313 coin data/OMG - 90 day data.pkl
20210313 coin data/REN - 90 day data.pkl
20210313 coin data/SNX - 90 day data.pkl
20210313 coin data/supported coins.pkl
20210313 coin data/SUSHI - 90 day data.pkl
20210313 coin data/UMA - 90 day data.pkl
20210313 coin data/UNI - 90 day data.pkl
20210313 coin data/WBTC - 90 day data.pkl
20210313 coin data/XLM - 90 day data.pkl
20210313 coin data/XTZ - 90 day data.pkl
20210313 coin data/YFI - 90 day data.pkl
20210313 coin data/ZEC - 90 day data.pkl
20210313 coin data/ZRX - 90 day data.pkl
20210410 coin data/AAVE - 90 day data.pkl
20210410 coin data/ADA - 90 day data.pkl
20210410 coin data/ALGO - 90 day data.pkl
20210410 coin data/ANKR - 90 day data.pkl
20210410 coin data/ATOM - 90 day data.pkl
20210410 coin data/BCH - 90 day data.pkl
20210410 coin data/BNT - 90 day data.pkl
20210410 coin data/BTC - 90 day data.pkl
20210410 coin data/coinbase products.pkl
20210410 coin data/coingecko coin markets.pkl
20210410 coin data/COMP - 90 day data.pkl
20210410 coin data/DAI - 90 day data.pkl
20210410 coin data/DASH - 90 day data.pkl
20210410 coin data/ENJ - 90 day data.pkl
20210410 coin data/EOS - 90 day data.pkl
20210410 coin data/ETC - 90 day data.pkl
20210410 coin data/ETH - 90 day data.pkl
20210410 coin data/FIL - 90 day data.pkl
20210410 coin data/GRT - 90 day data.pkl
20210410 coin data/LINK - 90 day data.pkl
20210410 coin data/LTC - 90 day data.pkl
20210410 coin data/MATIC - 90 day data.pkl
20210410 coin data/MKR - 90 day data.pkl
20210410 coin data/OMG - 90 day data.pkl
20210410 coin data/SNX - 90 day data.pkl
20210410 coin data/supported coins.pkl
20210410 coin data/SUSHI - 90 day data.pkl
20210410 coin data/UMA - 90 day data.pkl
20210410 coin data/UNI - 90 day data.pkl
20210410 coin data/WBTC - 90 day data.pkl
20210410 coin data/XLM - 90 day data.pkl
20210410 coin data/XTZ - 90 day data.pkl
20210410 coin data/YFI - 90 day data.pkl
20210410 coin data/ZEC - 90 day data.pkl
20210410 coin data/ZRX - 90 day data.pkl
__pycache__/api_keys.cpython-39.pyc
__pycache__/coin_gecko.cpython-39.pyc
__pycache__/data_for_model.cpython-39.pyc
__pycache__/data_prep.cpython-39.pyc
__pycache__/datetime_helper.cpython-39.pyc
__pycache__/file_helper.cpython-39.pyc
__pycache__/make_model.cpython-39.pyc
__pycache__/model_class.cpython-39.pyc
__pycache__/normalizer_class.cpython-39.pyc
__pycache__/raw_data_process.cpython-39.pyc
__pycache__/trading_algorithm.cpython-39.pyc
account_data/AAVE Wallet.pkl
account_data/accounts.pkl
account_data/ALGO Wallet.pkl
account_data/ATOM Wallet.pkl
account_data/BAL Wallet.pkl
account_data/BAND Wallet.pkl
account_data/BAT Wallet.pkl
account_data/BCH Wallet.pkl
account_data/BNT Wallet.pkl
account_data/BTC Wallet.pkl
account_data/Cash (USD).pkl
account_data/CGLD Wallet.pkl
account_data/COMP Wallet.pkl
account_data/CVC Wallet.pkl
account_data/DAI Wallet.pkl
account_data/DASH Wallet.pkl
account_data/DNT Wallet.pkl
account_data/EOS Wallet.pkl
account_data/ETC Wallet.pkl
account_data/ETH Wallet.pkl
account_data/FIL Wallet.pkl
account_data/GNT Wallet.pkl
account_data/GRT Wallet.pkl
account_data/KNC Wallet.pkl
account_data/LINK Wallet.pkl
account_data/LOOM Wallet.pkl
account_data/LRC Wallet.pkl
account_data/LTC Wallet.pkl
account_data/MANA Wallet.pkl
account_data/MATIC Wallet.pkl
account_data/message.pkl
account_data/MKR Wallet.pkl
account_data/NMR Wallet.pkl
account_data/NU Wallet.pkl
account_data/OMG Wallet.pkl
account_data/orders.pkl
account_data/OXT Wallet.pkl
account_data/REN Wallet.pkl
account_data/REP Wallet.pkl
account_data/SKL Wallet.pkl
account_data/SNX Wallet.pkl
account_data/SUSHI Wallet.pkl
account_data/UMA Wallet.pkl
account_data/UNI Wallet.pkl
account_data/USDC Wallet.pkl
account_data/WBTC Wallet.pkl
account_data/XLM Wallet.pkl
account_data/XRP Wallet.pkl
account_data/XTZ Wallet.pkl
account_data/YFI Wallet.pkl
account_data/ZEC Wallet.pkl
account_data/ZRX Wallet.pkl
check all data.xlsx
coin_base.py
testing.py
